<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
</head>
<body class="editpage">
    |<form method="POST" class="post-form"
    action="/update/{{blog.id}}">
    {% csrf_token %}
    <div class="container">
        <br>
        <div class="form-group row">
            <label class="col-sm-1 col-form-label"></label>
            <div class="col-sm-4">
                <h3>Update Details</h3>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Your Name : </label>
            <div class="col-sm-4">
                <input type="text" name="ename" id="id_name" requred maxlength="100" value="{{ blog.name }}" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Blog Name : </label>
            <div class="col-sm-4">
                <input type="text" name="bname" id="id_bname" required maxlength="100" value="{{ blog.blog_name }}" />       
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Description : </label>
            <div class="col-sm-4">
                 <textarea name="description" id="id_description" required maxlength="100" rows="10" cols="50" >{{ blog.description }}</textarea>
            </div>
        </div>
        <div class="form-group row" >
            <label class="col-sm-1 col-form-label"></label>
            <div class="col-sm-4" id="updatebtn">
                <button type="submit" class="btn btn-success">Update</button>
            </div>
        </div>




    </div>
    </form>
    <script src="{% static 'js/show.js' %}"></script>
    
</body>
</html>